Checks: >
  *,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -android-*,
  -cert-con36-c,
  -cert-con54-cpp,
  -cert-dcl03-c,
  -cert-dcl16-c,
  -cert-dcl37-c,
  -cert-dcl50-cpp,
  -cert-dcl51-cpp,
  -cert-dcl54-cpp,
  -cert-dcl59-cpp,
  -cert-env33-c,
  -cert-err09-cpp,
  -cert-err61-cpp,
  -cert-fio38-c,
  -cert-mem57-cpp,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-oop11-cpp,
  -cert-oop54-cpp,
  -cert-oop57-cpp,
  -cert-oop58-cpp,
  -cert-pos44-c,
  -clang-analyzer-*,
  -clang-diagnostic-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -darwin-*,
  -fuchsia-*,
  -fuchsia-header-anon-namespaces,
  -google-*,
  -google-readability-braces-around-statements,
  -google-readability-function-size,
  -google-readability-namespace-comments,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-explicit-conversions,
  -hicpp-function-size,
  -hicpp-invalid-access-moved,
  -hicpp-member-init,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-special-member-functions,
  -hicpp-static-assert,
  -hicpp-undelegated-constructor,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-auto,
  -hicpp-use-noexcept,
  -hicpp-vararg,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -misc-bool-pointer-implicit-conversion,
  -misc-definitions-in-headers,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-alias-decls,
  -modernize-use-trailing-return-type,
  -objc-*,
  -openmp-exception-escape,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-size,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-preprocessor,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  -zircon-*,
  google-default-arguments,
  google-explicit-constructor,
  google-runtime-operator
HeaderFilterRegex: '.*(?!3rdparty).*'
