/build
/cmake-build-*
/.vs
/release

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dynamic.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/deployment.xml
.idea/webServers.xml

/saves
/ghosts
/data
/assets
/screenshots
/config.yaml
/runtime-asset-src/*.blend?*

# Thank you, Windows!
Thumbs.db

src/loader/file/animationid.*
src/loader/file/larastateid.*
src/engine/items_tr1.*
src/engine/soundeffects_tr1.*
src/engine/tracks_tr1.*
src/hid/glfw_keys.*
src/hid/glfw_gamepad_buttons.*
src/hid/glfw_axes.*
src/hid/glfw_axis_dirs.*
src/hid/actions.*
src/engine/ghosting/ghostfinishstate.*
src/launcher/languages.h

share/**/*.mo

*.log
*.dll
*.exe
*.pdb
*.trace
*.7z
*.gz
*.user
*.cap

share/shaders/*.err
share/shaders/*.full.glsl

__pycache__

# mesa dumps
/shader_*.frag
/shader_*.vert

*.qm
