[submodule "3rdparty/rapidyaml"]
	path = 3rdparty/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "3rdparty/type_safe"]
	path = 3rdparty/type_safe
	url = https://github.com/foonathan/type_safe.git
[submodule "3rdparty/ValveFileVDF"]
	path = 3rdparty/ValveFileVDF
	url = https://github.com/TinyTinni/ValveFileVDF
[submodule "3rdparty/chillout"]
	path = 3rdparty/chillout
	url = https://gitlab.com/ribtoks/chillout.git
