[submodule "3rdparty/controller-data"]
	path = 3rdparty/controller-data
	url = https://github.com/sriharshachilakapati/GLFW-Controller-Database.git
[submodule "3rdparty/type_safe"]
	path = 3rdparty/type_safe
	url = https://github.com/foonathan/type_safe.git
