build/
cmake-build-*/
.idea/

save/
data/

# Thank you, Windows!
Thumbs.db

src/loader/animationids_enum.h
src/loader/larastate_enum.h
screen_*.png
*.log
*.dll
src/loader/larastateids_enum.h

shaders/*.err
