build/
cmake-build-*/
.idea/

save/
data/
assets/

# Thank you, Windows!
Thumbs.db

src/loader/animationids_enum.h
src/loader/larastate_enum.h
src/loader/larastateids_enum.h

*.log
*.dll
*.exe
*.pdb
*.trace
*.7z
*.gz
*.user

shaders/*.err

3rdparty/yaml-cpp
3rdparty/yaml-cpp-bin
3rdparty/assimp
3rdparty/assimp-bin

