[Desktop Entry]
Name=EdisonEngine
Type=Application
Exec=edisonengine
Icon=edisonengine
Categories=Game;ActionGame;AdventureGame;

GenericName=A Tomb Raider 1 game engine
GenericName[de]=Eine Tomb Raider 1 Spiel-Engine
